.menu-bar__item{
  position: absolute;
  right: 30%;
  left: 30%;
  margin-top: 2px;
  align-items: center;
  justify-content: center;

}
.menu-bar__item > ul{
  display: flex;
  list-style: none;
}
.menu-bar__item > ul > li {
  padding: 5px;
  margin-right: 15px;
}

.menu-bar__item > ul > li > a {
  text-decoration: none;
  color: rgb(43, 43, 43);
  padding: 5pc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bar__item > ul > li > a:hover {
  text-decoration: none;
  color: rgb(46, 0, 212);
  font-weight: 600;
}
